@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

:root {
	--ff: 'Montserrat', sans-serif;
	--fs-72: 4.5rem;
	--fs-40: 2.5rem;
	--fs-32: 2rem;
	--fs-18: 1.125rem;
	--fs-15: 0.9375rem;
	--fs-13: 0.8125rem;
	--ls--2: -0.125rem;
	--ls-15: .0938rem;
	--fw-bold: 700;
	--clr-white: hsl(0, 0%, 100%);
	--clr-gray-700: hsl(232, 13%, 33%);
	--clr-gray-hr: hsl(227, 13%, 87%);
	--clr-gray-hr-pro: hsl(227, 13%, 87%);
	--clr-gray-650: hsl(233, 13%, 49%);
	--clr-blue-500: hsl(237, 63%, 65%);
	--clr-blue-50: hsl(240, 78%, 98%);
	--clr-blue-grad: linear-gradient(120deg, hsl(237, 73%, 75%), hsl(238, 63%, 70%));
}

body {
	font-family: var(--ff);
	background-color: var(--clr-blue-50);
	color: var(--clr-white);
	min-height: 100%;
	height: 100%;
	position: relative;
	display: flow-root;
	isolation: isolate;
}

main {
	max-inline-size: 65.625rem;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.top-img,
.bottom-img {
	position: absolute;
	z-index: 0;
	max-width: 375px;
	width: 40%;
	height: auto;
	display: block;
	pointer-events: none;
}

.top-img {
	top: 0;
	right: 0;
}

.bottom-img {
	bottom: 0;
	left: 0;
}

h2 {
	font-size: var(--fs-32);
	color: var(--clr-gray-650);
	text-align: center;
	margin-top: 2.1875rem;
	font-weight: 900;
}

.pricing-toggle-input {
	display: none;
}

.toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	font-size: var(--fs-15);
	color: var(--clr-gray-650);
	font-weight: var(--fw-bold);
	margin-top: 2.5rem;
}

.toggle .switch {
	width: 3.125rem;
	height: 1.5625rem;
	background: var(--clr-blue-grad);
	border-radius: 1.5625rem;
	position: relative;
	cursor: pointer;
	transition: background 0.3s ease;
	display: block;
}

.toggle .switch::before {
	content: '';
	width: 1.25rem;
	height: 1.25rem;
	background-color: var(--clr-white);
	border-radius: 50%;
	position: absolute;
	top: 0.15625rem;
	left: 0.15625rem;
	transition: transform 0.3s ease;
}

.pricing-toggle-input:checked+.toggle .switch {
	background: var(--clr-blue-grad);
}

.pricing-toggle-input:checked+.toggle .switch::before {
	transform: translateX(1.5625rem);
}

.pricing-toggle-input:checked~.card__container .card__price__monthly {
	opacity: 1;
}

.pricing-toggle-input:checked~.card__container .card__price__annually {
	opacity: 0;
}

.card__container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 4rem;
}

.card {
	background-color: var(--clr-white);
	padding: 1.5rem 2rem;
	width: 21.875rem;
}

.card:nth-child(1) {
	border-top-left-radius: .625rem;
	border-bottom-left-radius: .625rem;
}

.card:nth-child(3) {
	border-top-right-radius: .625rem;
	border-bottom-right-radius: .625rem;
}

.card__price {
	position: relative;
	height: 6rem;
}

.card__professional {
	background: var(--clr-blue-grad);
	padding: 3rem 2rem;
	border-radius: .625rem;
	color: var(--clr-white);
}

.card__heading {
	font-size: var(--fs-18);
	font-weight: var(--fw-bold);
	color: var(--clr-gray-650);
}

.card__currency {
	font-size: var(--fs-40);
	padding-right: .6875rem;
	vertical-align: middle;
	color: var(--clr-gray-700);
}

.card__price__annually {
	font-size: var(--fs-72);
	letter-spacing: var(--ls--2);
	font-weight: var(--fw-bold);
	color: var(--clr-gray-700);
	opacity: 1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.card__price__monthly {
	font-size: var(--fs-72);
	letter-spacing: var(--ls--2);
	font-weight: var(--fw-bold);
	color: var(--clr-gray-700);
	opacity: 0;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.card__storage,
.card__users,
.card__send {
	font-size: var(--fs-15);
	color: var(--clr-gray-650);
	font-weight: var(--fw-bold);
}

.card hr {
	margin: 1rem 0;
	border: none;
	border-top: 1px solid var(--clr-gray-hr);
}

.card__professional hr {
	margin: 1rem 0;
	border: none;
	border-top: 1px solid var(--clr-gray-hr-pro);
}

.card__professional .card__heading,
.card__professional .card__currency,
.card__professional .card__price__annually,
.card__professional .card__price__monthly,
.card__professional .card__storage,
.card__professional .card__users,
.card__professional .card__send {
	color: var(--clr-white);
}

.card__learn__more {
	background: var(--clr-blue-grad);
	color: #fff;
	border: 1px solid transparent;
	border-radius: .375rem;
	padding: 1rem 4rem;
	cursor: pointer;
	width: 100%;
	text-transform: uppercase;
	font-size: var(--fs-13);
	font-weight: var(--fw-bold);
	letter-spacing: var(--ls-15);
	font-family: var(--ff);
	transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.card__learn__more:hover {
	background: var(--clr-white);
	border: 1px solid hsl(238, 63%, 64%);
	color: hsl(238, 63%, 64%);
}

.card__professional .card__learn__more {
	background: var(--clr-white);
	color: var(--clr-blue-500);
	border: 1px solid transparent;
	transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.card__professional .card__learn__more:hover {
	background: var(--clr-blue-grad);
	color: var(--clr-white);
	border: 1px solid var(--clr-white);
}

@media screen and (min-width: 65.626rem) {
	body {
		overflow: hidden;
		height: 100vh;
	}
}

@media screen and (max-width: 65.625rem) {
	.top-img {
		width: min(55vw, 375px);
	}

	.card__container {
		flex-direction: column;
		gap: 2rem;
		margin: 4rem 1.5rem 0 1.5rem;
	}

	.card:nth-child(1) {
		border-radius: .625rem;
	}

	.card:nth-child(3) {
		border-radius: .625rem;
	}

	.bottom-img {
		display: none;
	}
}